Chapter-4/Node-RED/LightSensorTweetFlow.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1348\cocoasubrtf170
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural

\f0\fs24 \cf0 [\{"id":"29759906.d68a66","type":"http in","z":"5024e602.afdb18","name":"Receive HTTP Request","url":"/lightSensorTweet","method":"get","swaggerDoc":"","x":123.5,"y":212,"wires":[["35ee03da.ca11fc"]]\},\{"id":"35ee03da.ca11fc","type":"function","z":"5024e602.afdb18","name":"Convert to Number","func":"msg.payload.requestVar = parseInt(msg.payload.requestVar);\\nreturn msg;","outputs":1,"noerr":0,"x":364.5,"y":212,"wires":[["a2de3487.5d21c8"]]\},\{"id":"a2de3487.5d21c8","type":"switch","z":"5024e602.afdb18","name":"Check Threshold","property":"payload.requestVar","propertyType":"msg","rules":[\{"t":"gte","v":"750","vt":"str"\},\{"t":"else"\}],"checkall":"true","outputs":2,"x":599.5,"y":211,"wires":[["fe3a47d7.01c5b8"],["2588203d.da77e"]]\},\{"id":"fe3a47d7.01c5b8","type":"function","z":"5024e602.afdb18","name":"Set Tweet Message","func":"msg.payload = \\"Sunny Outside! \\" + \\n              msg.payload.requestVar +\\n              \\" #IoT\\";\\nreturn msg;","outputs":1,"noerr":0,"x":856.5,"y":134,"wires":[["2588203d.da77e","9c5ae02d.63a52","b5170bb.f4ae8f8"]]\},\{"id":"b5170bb.f4ae8f8","type":"twitter out","z":"5024e602.afdb18","twitter":"","name":"Tweet","x":1073.5,"y":55,"wires":[]\},\{"id":"2588203d.da77e","type":"http response","z":"5024e602.afdb18","name":"Send HTTP Response","x":1118.5,"y":217,"wires":[]\},\{"id":"9c5ae02d.63a52","type":"debug","z":"5024e602.afdb18","name":"","active":true,"console":"false","complete":"false","x":1090.4444580078125,"y":133.88888549804688,"wires":[]\}]}